.cabecalho__titulo,
.cabecalho__botao {
  text-decoration: none;
  color: #eeeeee;
}

.cabecalho__botao {
  background-color: #76abae;
  padding: 0.5em 1em;
  border-radius: 1.5em;
}

.cabecalho__botao:hover {
  background-color: #5b979a;
  transform: scale(1.05);
}
